astunparse==1.6.3
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
gast==0.4.0
h5py==2.10.0
idna==2.10
Markdown==3.2.2
numpy==1.19.2
oauthlib==3.1.0
pyasn1==0.4.8
requests==2.24.0
rsa==4.6
scipy==1.5.2
six==1.15.0
tensorboard==2.3.0
tensorflow==2.3.0
termcolor==1.1.0
urllib3==1.25.10
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0

pip~=20.2.3
wheel~=0.35.1
setuptools~=50.3.0
matplotlib~=3.3.2
Pillow~=7.2.0
pydub~=0.24.1